.tableDetails {
  display: inline-block;
  vertical-align: text-top;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .tableDetails {
    width: 100%;
  }
}
@media screen and (min-width: 801px) {
  .tableDetails {
    width: 49%;
  }
}
