<html>
    <header>
        <style>
            .productTable {
                border-spacing:0px 0;
            }
            .productTable th {
                background-color:#DCDCDC;
            }
             .productTable th, td {
                 text-align:center;
                 border:1px solid black;
                 padding:5px
             }
            h3 {
                color: red;
            }
        </style>
    </header>

    <body>
        <img src="cid:Logo" alt="Logo" height="50" style="display: inline-block"/>
        <h1>${title}</h1>
        <p>${dearCustomer}</p>
        <p>${content}</p>

        <br/>
        <h3>${smallContent}</h3>

        <table class='productTable'>
            <tr>
                <th>${code}</th>
                <th>${productName}</th>
                <th>${quantity}</th>
                <th>${price}</th>
                <th>${vat}</th>
                <th>${totalPrice}</th>
            </tr>
            #foreach( $item in $orderlines )
                <tr>
                    <td>$item.code</td>
                    <td>$item.description</td>
                    <td><span>$item.quantity</Span> <span>$item.unit</span></td>
                    <td>$item.price</td>
                    <td>$item.totalVat</td>
                    <td>$item.totalPriceInclVat</td>
                </tr>
            #end
        </table>
        <br/>
        <p>${thanks}</p>
        <p>Barry & Kung Groentenhandel</p>

    </body>
</html>